.form-split-bill {
    background-color: #d1bea6;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem;
    row-gap: 1rem;
    border-radius: 5px;
}

.form-split-bill h4 {
    grid-column: span 2;
}

.form-split-bill label {
    font-weight: 500;
}

.form-split-bill input,option,select {
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
}

select {
    background-color: #d1bea6;
    color: #fff;
    border: 1px solid indianred;
}



option:hover {
    background-color: aqua;

}

::selection {
    background-color: #d1bea6;
}