/* form {
    font-size: 1.6rem;
    display: grid;
    align-items: center;
    gap: 1.2rem;
  
    background-color: var(--color-lightest);
    border-radius: 7px;
  }
   */
  .form-add-friend {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
    margin-bottom: 2rem;
    row-gap: 1rem;
  }

  .form-add-friend input,option,select {
    outline: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
}

.form-add-friend button {
  grid-column: 2;
  border: none;
  background-color: rgb(228, 177, 109);
  padding: 0.5rem 0;
  cursor: pointer;
}